#############
## project.tfvars for "${project_id}" in "hashicorp-platform" 

vault_endpoint = "https://vault.${prefix}.${external_domain}"
consul_endpoint = "https://consul.${prefix}.${external_domain}"
nomad_endpoint = "https://nomad.${prefix}.${external_domain}"
vault_skip_tls_verify = false
consul_insecure_https = false
gcp_project_id = "${project_id}"
gcp_authenticate = true
gcp_csi = true
gsuite_authenticate = true
gsuite_domain = "bitrock.it"
gsuite_client_id = "130427124755-5vo5d0t3mr254uah10bun1ftrutqs76t.apps.googleusercontent.com"
gsuite_client_secret = "zDLN6uzLOKYhkDIxBAqdAJ1R"
gsuite_default_role = "bitrock"
gsuite_default_role_policies = [ "default", "bitrock", "vault-admin-role" ]
gsuite_allowed_redirect_uris = [ "https://vault.${prefix}.${external_domain}/ui/vault/auth/gsuite/oidc/callback", "https://vault.${prefix}.${external_domain}/ui/vault/auth/oidc/oidc/callback"]
region = "${region}"
oci_bootstrap = "false"
#############
