#############
## project.tfvars for "${project_id}" in "hashicorp-workload" 

nomad_endpoint = "https://nomad.${prefix}.${external_domain}"
vault_endpoint = "https://vault.${prefix}.${external_domain}"
consul_endpoint = "https://consul.${prefix}.${external_domain}"
domain = "${prefix}.${external_domain}"
artifacts_source_prefix = "gcs::https://www.googleapis.com/storage/v1/cfgs-${project_id}"
vault_skip_tls_verify = false
services_domain = "service.consul"
dc_names = ["${dc_name}"]
github_shared_secret = ""
github_token = ""
#############
