datacenter = "hcpoc"
data_dir = "/var/lib/nomad"
log_level = "DEBUG"
client {
  enabled = true
  meta = {
    "connect.sidecar_image" = "envoyproxy/envoy:v1.14.2"
  }
  options {
    "docker.cleanup.image" = "false"
  }
}

server_join {
    retry_join = [
      %{ for n in keys("${cluster_nodes}") ~}
      "${cluster_nodes[n]}:4647",
      %{ endfor ~}
    ]
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

consul {
  address = "127.0.0.1:8501"
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true

  
  ca_file    = "/etc/consul.d/ca"
  cert_file  = "/etc/consul.d/cert"
  key_file   = "/etc/consul.d/keyfile"
  ssl        = true
  verify_ssl = true

  token = "{{ with secret "secret/data/consul/nomad_client_token" }}{{ .Data.data.token }}{{ end }}"
}

tls {
    http = true
    rpc  = true

    ca_file    = "/etc/nomad.d/nomad_ca"
    cert_file  = "/etc/nomad.d/nomad_cert"
    key_file   = "/etc/nomad.d/nomad_keyfile"

    verify_https_client    = false
    verify_server_hostname = true
}


telemetry {
  collection_interval = "10s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
