datacenter = "hcpoc"
data_dir = "/var/lib/nomad"
log_level = "DEBUG"
client {
  enabled = true
  meta = {
    "connect.sidecar_image" = "envoyproxy/envoy:v1.14-latest"
  }
}

server_join {
    retry_join = [
      %{ for n in keys("${cluster_nodes}") ~}
      "${cluster_nodes[n]}:4647",
      %{ endfor ~}
    ]
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

consul {
  address = "127.0.0.1:8500"
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}