{{ $host := printf "common_name=%s.node.hcpoc.consul" (env "HOSTNAME") }}{{ with secret "tls_pki_int/issue/nomad" $host "alt_names=global.nomad,client.hcpoc.consul,localhost" "ip_sans=127.0.0.1" "ttl=24h"}}{{ .Data.certificate }}{{ end }}